<!DOCTYPE html>
<html lang="ko">
<head>
    <title>Admin Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}"></script>
</head>
<body>
    <div class="container mt-3">
      <div id="time_update"></div>
      <h3 class="mt-5 mb-3">신규 등록 상품</h3>
      <form class="row row-cols-lg-auto g-3 align-items-center" id = "filter-form">      
        <div class="col-12">
          <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
          <select class="form-select" id="inlineFormSelectPref">
            <!-- 카테고리 셀렉트 코드를 넣어주세요-->
            <option selected>카테고리</option>
            <option value="1">Outer</option>
            <option value="1">Top</option>
            <option value="2">Bottom</option>
            <option value="3">Shoes</option>
            <option value="3">Bag</option>
            <option value="2">Wallet</option>
            <option value="3">Watch</option>
            <option value="3">Accessory</option>
          </select>
        </div>
        <div class="col-3">
            <!-- input 입력창 코드를 넣어주세요 -->
          <label class="visually-hidden" for="autoSizingInput">Name</label>
          <input type="text" class="form-control" id="autoSizingInput" placeholder="제품명을 입력해주세요.">
        </div>
        <div class="col-auto">
          <!-- 조회버튼 코드를 넣어주세요 -->
          <button type="submit" class="btn btn-primary" id = "submit-btn">조회</button>
        </div>
      </form>
      <div class="container mt-3">
        <table class="table table-sm">
            <thead>
                <!-- 열의 속성값을 나타내는 코드를 작성해주세요 (예 : 카테고리, 브랜드, 상품명, 가격) -->
                <tr class="table-info">
                  <th scope="col">선택</th>
                  <th scope="col">카테고리</th>
                  <th scope="col">브랜드</th>
                  <th scope="col">상품명</th>
                  <th scope="col">가격</th>
                  <th scope="col">거래량</th>
                  <th scope="col">찜</th>
                  <th scope="col">리뷰수</th>
                  <th scope="col">이미지</th>
                  <th scope="col">상세페이지</th>
                  <th scope="col">리뷰페이지</th>
                  

              </tr>
            </thead>
            <tbody id="data-table">
                <!-- 추후 크롤링한 데이터가 들어가는 자리 -->
            </tbody>
        </table>
    </div>
    <!-- 페이지 네이션 코드를 넣어주세요 -->
    <nav aria-label="Page navigation example" id = "pagination">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link active" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>

    <a class = "git_url" href="https://github.com/ark0723" target="_blank">
      <img src = "../images/github.png" width = "20px" height ="20px">
    </a>

    </script>
    <script src="../static/index.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>
</html>